html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* width: 80%;
    margin: 0, auto; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    width: 50%;
}

.shr {
    width: 25%;
}

img {
    display: block;
    margin: auto;
    width: 50%;
}

#mixieimg {
    width: 20%;
}